/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/10/2017, 22:01:28
    Author     : Reginaldo
*/
* {
    margin: 0;
    padding: 0;
    outline: none;
}
header {
    padding: 15px 0;
    background-color:#607D8B;
    color: #f1f1f1;
}
.content {
    width: 96%;
    margin: 20px auto 20px auto;
    padding: 20px;
    border: 1px solid #aaa;
    border-radius: 6px;
}
.content-title {
    padding: 10px;
    background-color: #eee;
}
.btn-group {
    margin-top: -90px;
    margin-left: 10px;
}
.btn-menu {
    position: absolute;
    z-index: 40;
    cursor: pointer;
    color: #fff;
    top: -20px;
}
.content .content {
    width: 100%;
}
.table-responsive {
    margin-top: 10px;
}
.table thead tr th {
    text-align: center;
    text-transform: uppercase;
}
.table tbody tr td i {
    cursor: pointer;
}
.bg-red {
    color: #e22;
}
@media(min-width:992px) {
    .content {
        width: 800px;
    }
    .login-page .content {
        width: 450px;
    }
}